


<div class="event">
  <form [formGroup]="eventForm" >
      <mat-form-field>
        <input matInput type="text" placeholder="Title" formControlName="title" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Start date/time" formControlName="start" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="End date/time" formControlName="end" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-checkbox formControlName="allDay">All day event</mat-checkbox>
      <mat-form-field>
        <input matInput [ngxMatTimepicker]="timepicker" placeholder="Choose a time" formControlName="time">
        <ngx-mat-timepicker-toggle matSuffix [for]="timepicker"></ngx-mat-timepicker-toggle>
        <ngx-mat-timepicker #timepicker></ngx-mat-timepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onSubmit()">Add event</button>
    </form>
</div>


