.rowPosition{
    display: flex;
    flex-direction: row;
}

.columnPosition{
    display: flex;
    flex-direction: column;
}
.gap-xs{
    gap: 1rem;
}
.gap-small{
    gap: 2rem;
}
.margin-bottom-small{
    margin-bottom: 1rem;
}
.margin-small{
    margin: 1rem;
}
.margin-bottom-xs{
    margin-bottom: 1rem;
}
.margin-top-xs{
    margin-bottom: 1rem;
}
.margin-top-xs{
    margin-bottom: 1rem;
}
.margin-right-small{
    margin-right: 2rem;
}
.left-padding{
    padding-left: 1rem;
}
.padding-small-left{
    padding-left: 1rem;
}
.padding-small-right{
    padding-right: 1rem;
}
.padding-small{
    padding: 1rem;
}
.padding-bottom-mid{
    padding-bottom: 1rem;
}
.removeMargin{
    margin: 0;
}
.fit-content{
    
    width: fit-content;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.horisontalCenter{
    display: flex;
    justify-content: center;
}
.verticalCenter{
    display: flex;
    align-items: center;
}
.fullHeight{
    height: 100%;
}