.cardTotalProfit{
    width: 100%;
    padding: 1rem;
    
    color: white;
    border-radius: 8px;
}

.totalProfit{
    display: flex;
    width: 90%;
}
.icons{
    width: 20px;
    height: 20px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
 
}